<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>




    <h1>Home</h1>





    <h1>Insert</h1>
    <form method="post" action="/insert">
      New temp : <input type="text" name="newTemp" >
      <input type="submit" >
    </form>

    <br/>
    <br/>
    <h1>GET</h1>
    <a href="/get-data">LOAD DATA</a>

    <%= home
    %> °C. <br/>

    City <input type="text"  id="city" >
    <input type="button" name="chercher" onclick="findWeather()">




  </body>
</html>
