<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <input type="button" name="change" id="change" value="want to change temp">
	<div id="updateTemp">
		<form method="post" action="/update">
			New temp : <input type="number" name="changeTemp" >
			<button type="submit">change Temperature</button>
		</form>
		<form method="post" action = "/switch">
			<button type="submit">Switch Once</button>
		</form>
	</div>
</div>