<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Passwort</title>

<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity = ""
crossorigin = "anonymous">

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<div class = "container" style = "margin-bottom : 100px">

		<div class = "text-center reg_msg">
			<h2 style ="color:#808080"><span>SIGN UP</span></h2>
		</div><br>
	
		<div class = "row signup">
		<form method="post" action="/users/signup">
		
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type="text" name="name" id ="fullname" class="form-control" placeholder="Name">
				</div>
			</div>
			
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type="text" class="form-control" placeholder="Username" name="username">
				</div>
			</div>
			
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type="email" class="form-control" placeholder="Email" name="email">
				</div>
			</div>
			
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type="password" class="form-control" placeholder="Password" name="password">
				</div>
			</div>
			
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type="password" class="form-control" placeholder="Password" name="password2">
				</div>
			</div>
			
			<div class = "row form-group">
				<div class = "col-sm-12">
					<input type = "submit" name = "submit" id = "sign-up" class = "form-control btn btn-primary"
					value = "SUBMIT">
				</div>
			</div>
			
			<div class = "inscris">
			<a href="/users/login">Already registered ?   <u>Log in now</u></a>
		</div>
			
		</div>
		</form>
</body>
</html>
