<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Passwort</title>

<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity = ""
crossorigin = "anonymous">

<link rel="stylesheet" href="/css/custom.css">

</head>
<body>
	<div class = "container" style = "margin-bottom : 100px">
	
		<div class = "text-center reg_msg">
			<h2 style ="color:#808080"><span>SIGN UP</span></h2>
			

		</div><br>
		
		
		<div class = "row signup">
		<form action = "signup" method="post">
	   
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type = "text" name = "name" id = "fullname" class = "form-control"
					placeholder = "Full Name">
				</div>
			</div>
			
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type = "text" name = "email" id = "email" class = "form-control"
					placeholder = "Email">
				</div>
			</div>
			
			<div class = "row form-group input_group">
				<div class = "col-sm-12">
					<input type = "password" name = "password" id = "password" class = "form-control"
					placeholder = "Password">
				</div>
			</div>
			
			<div class = "row form-group">
				<div class = "col-sm-12">
					<input type = "submit" name = "submit" id = "sign-up" class = "form-control btn btn-primary"
					value = "SIGN UP">
				</div>
			</div>
		</form>
		</div>
	</div>
</body>
 
			
			