.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0 0 0;
	text-align: center;
}

.sidebar hr{
	color: #999;
	background-color: #4CAF50;
	height: 5px;
}

.sidebar .change {
    padding: 8px 8px 8px 32px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: 0.3s;
	margin-bottom: 50px;
}

.sidebar .change:hover, .offcanvas .change:focus{
    background-color: #3e8e41;
}
.sidebar .change:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.sidebar #divChangeTemp{
	text-align: center;
}

.sidebar #inputNewTemp{
	width: 100px;
	margin-bottom: 20px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openbtn{
    color: white;
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}