 body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

header{
	background-color: #40ca50;
	padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 5px 0 5px;
}

header a:hover{
	cursor: pointer;
	text-decoration: underline;
}

h1{
	text-align: left;
	padding: 0 0 0 10px;
	font-style: italic;
	color: #337ab7;
}

#loadData{
  padding: 2em;
  background-color: #337ab7;
  font-size: 1em;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid black;
}

#getTemp{
	margin: 100px 0 0 0;
}

#getTemp, #updateTemp{
  padding: 3em;
}

#myTemp {
	text-align: center;
	font-size: 4em;
	color: #4CAF50;
	padding: 20px;
	background-color: #111;
	border: 15px solid grey;
	border-radius: 10px;
	max-width: 30%;
}

#core{
	margin: 0 4% 0 4%;
	width: 90%;
	padding: 1%;
	/*background-color: #E6E6FA;*/
}

 #window{
	 float: right;
	 width: 25%;
 }

 #citychange{
	 margin-left: 15%;
 }

 #outsideWeather{
	 height: 300px;
	 text-align: center;
	 font-family: Helvetica;
	 padding-top: 20px;
	 color: white;
	 text-shadow: 2px 2px black;
 }

#city{
	font-size: 1.5em;
}

#outside-humidity{
	font-size: 1.3em;
}

#outside_temp{
	font-size: 4em;
}

#currentTemp{
	min-height: 400px;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

#viewport{
	float: right;
}

#homeTemp{
	border: solid 2px black;
	border-radius: 10px;
	width: 70%;
}

#homeTemp_header{
	background-color: #40ca50;
	border-bottom: solid 2px black;
	border-radius: 10px 10px 0 0;
	padding: 5px 0 5px 0;
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

#profile_links{
	float: right;
}

#citychange{
	margin-left : auto;
}

.signup{
  text-align : center;
  width : 50%;
  height : auto;
  margin : auto;
}

.reg_msg{
  width : 60%;
  height : auto;
  margin : auto;
}

.input_group input{
  height : 50px;
  font-size : 17px;
  margin : 0 0 19px 0;
  padding : 12px 21px 12px 21px;
  border : 1px solid #efefef;
}

.error{
  color : red;
  font-weight : bold;
}

.inscription{
	font-size: 1.5em;
	margin-left : 25%;
}

.inscris{
	font-size: 1.5em;
	margin-right : 62%;
}