<span onclick="openNav()" id="openbtn">&#9776; Sidebar öffnen</span>
<a href="/">Startseite</a>
<% if (user){ %>

	<span id="profile_links">
		Wilkommen,  <%= user.username %> !
		<a href="/users/logout">Ausloggen</a>
	</span>





<% }else{%>
	<span id="profile_links">
			<a href="/users/login">Login</a>
			<a href="/users/signup">Registrieren</a>
	</span>
<% }%>