<span onclick="openNav()" id="openbtn">&#9776; open</span>
<a href="/">Home</a>
<a href="/about">About</a>
<span id="profile_links">
	<a href="/profile">Profile</a>
	<a href="/login">Sign in</a>
	<a href="/signup">Sign Up</a>
</span>